*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f5f2e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 ~ h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 40px;
  letter-spacing: 0%;

}
p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: regular;
  line-height: 140%;
  letter-spacing: 0.2px;
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  min-height: calc(100vh - 70px);
}
